body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body.lang-vi {
  font-family: 'Be Vietnam Pro', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.lang-en {
  --main-font: 'Poppins', sans-serif;
}

body.lang-vi {
  --main-font: 'Be Vietnam Pro', sans-serif;
}

* {
  font-family: var(--main-font);
}
